body {
  justify-content: center;
  align-content: center;
  background-color: cornflowerblue;
}
li {
  list-style-type: none;
  justify-content: center;
  align-content: center;
}
.error {
  color: red;
}